* {
    background-color: #212121;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    padding-left: 10px;
}

h1 {
    text-decoration: underline;
    color: aqua;
}

h2 {
    color: aqua;
}

h3 {
    color: aqua;
    padding-top: 20px;
}

h4 {
    color: aqua;
}

.steps {
    font-size: 30px;
    color: aqua;
}

ul {
    padding-left: 30px;
}

li {
    margin: 1em;
}