* {
    background-color: #212121;
    color: white;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    text-align: left;
    padding-left: 20px;
}

.lasagna {
    width: 400px;
    height: auto
}

.gb {
    width: 400px;
    height: auto;
}

.butter {
    width: 400px;
    height: auto;
}